@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

.containerFaq {
  height: 800px;
  background-color: #f3f5f8;
}

.containerFaq .wrapper {
  max-width: 60%;
  margin: auto;
  border-radius: 10px;
}

.containerFaq .wrapper > h1 {
  letter-spacing: 3px;
}

.containerFaq .accordion {
  border-radius: 10px;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.containerFaq .accordion i {
  font-size: 1.6rem;
}

.containerFaq .active,
.containerFaq .accordion:hover {
  background-color: rgb(221, 218, 208);
}

.containerFaq .pannel {
  border-radius: 10px;
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: rgb(221, 218, 208);
  display: none;
}

.containerFaq .pannel p {
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.containerFaq .faq {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

.containerFaq .faq.active {
  border: none;
}

#slideshow {
    width:600px;
    margin:0 auto;
    overflow:hidden;
}

.sliders {
    width:3400px;
    position:relative;
    -webkit-animation:slide 30s ease-in-out infinite;
    -moz-animation:slide 30s ease-in-out infinite;
    -ms-animation:slide 30s ease-in-out infinite;
    -o-animation:slide 30s ease-in-out infinite;
    animation:slide 30s ease-in-out infinite;
}

.sliders section {
    width: 600px;
    height: 400px;
    float:left;
}

.sliders section:nth-child(1) {background-color:transparent;}
.sliders section:nth-child(2) {background-color:transparent;}
.sliders section:nth-child(3) {background-color:transparent;}

.sliders:hover {
   animation-play-state:paused;
   -webkit-animation-play-state:paused;
}

@-webkit-keyframes slide {
    0% {left:0;}
    33% {left:-600px;}
    66% {left:-1200px;}
    100% {left:0;}
}
@-moz-keyframes slide {
    0% {left:0;}
    33% {left:-600px;}
    66% {left:-1200px;}
    100% {left:0;}
}
@-ms-keyframes slide {
    0% {left:0;}
    33% {left:-600px;}
    66% {left:-1200px;}
    100% {left:0;}
}
@-o-keyframes slide {
    0% {left:0;}
    33% {left:-600px;}
    66% {left:-1200px;}
    100% {left:0;}
}
@keyframes slide {
    0% {left:0;}
    33% {left:-600px;}
    66% {left:-1200px;}
    100% {left:0;}
}

.sliders .adaptive-glass {
  background: hsl(0 0% var(--glass-lightness) / var(--glass-alpha));
  backdrop-filter: blur(40px);
}

.sliders figure {
  border-radius: .5ch;
  overflow: hidden;

  & img {
    display: block;
    inline-size: 100%;
  }
}

.sliders figcaption {
  display: grid;
  position: relative;
}
