@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

* {
	box-sizing: border-box;
}

.popup{
    width: 35%;
    height: 60%;
    background: #fff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 10px 30px 30px;
    visibility: hidden;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s;
}

.popup h1 {
	font-weight: bold;
	margin: 0;
}

.popup h2 {
	text-align: center;
}

.popup p {
	font-size: 16px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.popup span {
	font-size: 12px;
}

.popup a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.popup button {
	border-radius: 10px;
	border: 1px solid white;
	background-color: rgb(102, 140, 250);
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.popup button:active {
	transform: scale(0.95);
}

.popup button:focus {
	outline: none;
}

.popup button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.popup form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.popup input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.popup .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.popup .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.popup .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.popup .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.popup .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

.popup @keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.popup .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.popup .container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.popup .overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(45deg, #2e3c82ba, rgb(56, 195, 202));
	background: linear-gradient(45deg, #2e3c82ba, rgb(56, 195, 202));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.popup .container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.popup .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.popup .overlay-left {
	transform: translateX(-20%);
}

.popup .container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.popup .overlay-right {
	right: 0;
	transform: translateX(0);
}

.popup .container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.popup .top-right-button {
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 1000;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;

    background-color: #fff;
    border-color: #ccc;
	color: red;
    position: absolute;
    right: 15px;
    z-index: 1000;
}

.open-popup{
    visibility: visible;
    transform:  translate(-50%, -50%) scale(1.05);
}