@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c2c34;
}

.container {
  width: 100%;
}
nav {
  display: flex;
  z-index: 100;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  line-height: 80px;
  position: fixed;
  background-color: #f3f5f8;
  border-bottom: 1px solid #3d535f;
}
.logo {
  display: flex;
  font-size: 35px;
  font-weight: 800;
  color: #3d535f;
  letter-spacing: 3px;
  cursor: pointer;
  text-transform: uppercase;
}

b {
  font-size: 70px;
  color: rgba(43, 140, 145, 0.445);
}
.navItems {
  display: flex;
}
.navItems li {
  list-style: none;
  margin: 0 15px;
}
.navItems li a {
  font-size: 25px;
  color: #3d535f;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
}
.navItems li:hover a,
.links a:hover {
  color: rgb(43, 140, 145);
}
.links a {
  font-size: 30px;
  color: #3d535f;
  margin: 25px 10px;
}

button {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background-color: #36505f;
  /*padding: 8px 14px;*/
  /*margin: 40px 5px;*/
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
button:hover {
  color: black;
  font-weight: 400;
  background-color: rgba(74, 140, 171, 0.64);
}

