@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #f3f5f8;
}

.container{
    width: 100%;
}
nav{
    display: flex;
    z-index: 100;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    position: fixed;
    background-color: #f3f5f8;
    border-bottom: 1px solid #3d535f;
}
.logo{
    display: flex;
    font-size: 35px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
b{
    font-size: 70px;
    color: rgba(43, 140, 145, 0.445);
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a,
.links a:hover{
    color: rgb(43, 140, 145);
}
.links a{
    font-size: 30px;
    color: #3d535f;
    margin: 25px 10px;
}
.wrapper{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}
.wrapper::before{
    position: absolute;
    content: '';
    z-index: 1;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    left: -20%;
    top: 40%;
    background: linear-gradient(45deg, #2e3c82ba, rgb(56, 195, 202));
    animation: object1 6s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 86%;
    top: 62%;
    background: linear-gradient(45deg, #2e3c82ba, rgb(56, 195, 202));
    animation: object1 24s linear infinite;
}
@keyframes object1{
    50%{
        left: -16%;
        top: 41%;
    }
}
@keyframes object2{
    50%{
        left: 5%;
        top: 10%;
    }
}

.cols{
    width: 50%;
}
.cols0{
    width: 90%;
    z-index: 5;
}

.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: rgba(74, 140, 171, 1);
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: rgba(74, 140, 171, 1);
}
h1{
    display: block;
    font-size: 4em;
    font-weight: 900;
    color: #3d535f;
}
.multiText{
    color: #388b96;
    text-transform: capitalize;
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}
.btns{
    width: 100%;
    position: relative;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: #36505f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
}
button:hover{
    color: black;
    font-weight: 700;
    background-color: rgba(74, 140, 171, 0.64);
}

.container2{
    width: 100%;
    height: 200px;
    background-color: rgba(74, 140, 171, 1);
}

.container3{
    width: 100%;
    height: 50px;
    background-color: rgba(74, 140, 171, 0.4);
}

.description{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: rgba(74, 140, 171, 0.2);
}

.left-side {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side {
    flex: 1;
    background-color: rgba(74, 140, 171, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 80%;
    max-height: 80%;
}

.slider-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
}

.slider {
    display: flex;
    transition: transform 2s ease-in-out;
}

.slide {
    margin-left: 10%;
    min-width: 92%;
    height: 60%;
    flex: 1;
    text-align: center;
}

.slider-button-container {
    text-align: center;
    margin-top: 20px;
}

.about{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: rgba(74, 140, 171, 0.2);
}

.right-sideA {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-sideA {
    flex: 1;
    background-color: rgba(74, 140, 171, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: #36505f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
    transition: background-color 0.3s ease-in-out;
}

.slider-button.active {
    color: black;
    font-weight: 600;
    background-color: rgba(74, 140, 171, 0.64);
}

.last{
    width: 100%;
    height: 100px;
    background-color: rgba(74, 140, 171, 1);
}

.card-container {
  background-color: rgba(74, 140, 171, 0.6);
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: black;
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 100%;
  text-align: center;
}

.card-container p{
    font-size: 18px;
    line-height: 25px;
}

.left-column {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.left-column img.round {
  width: 100px;
  border: 2px solid #03BFCB;
  border-radius: 50%;
}

.right-column {
  flex: 1;
  padding: 20px;
}

.skills {
  background-color: rgba(74, 140, 171, 0.64);
  text-align: center;
  padding-top: 1px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-top: 30px;
  border-radius: 1%;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2D2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}

.text-and-assignments {
  background-color: rgba(74, 140, 171, 0.64);
  padding: 15px;
  height: 90%;
  margin-top: 30px;
}

.text-and-assignments h6 {
  color: #03BFCB;
}

.text-and-assignments p {
  color: #B3B8CD;
}

button.primary {
  background-color: #03BFCB;
  border: 1px solid #03BFCB;
  border-radius: 3px;
  color: #231E39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}