.filter-container label {
    color: white;
}

.filter-container {
    text-align: center;
    margin-bottom: 20px;
    padding: 10vh;
}

.filter-dropdown {
    padding: 8px;
    font-size: 16px;
}

.adoption-listings {
    list-style: none;
    padding: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.adoption-item {
    width: 400px;
    height: 500px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: lightgray;
}

.adoption-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

#adoption-description {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
}

.pet-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 20px;
    left: 0;
    overflow: hidden;
}

.gender-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 20px;
    right: 0;
    overflow: hidden;
}

.name {
    position: relative;
    top: 80px;
}

.description {
    margin-top: 20%;
}