.adoptions {
    background: #E4E9F7;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}

.adoption-header {
    background-color: #1d1b31;
    height: 30vh;
}

.adoption-title {
    position: relative;
    top: 100px;
    left: 100px;
    color: #fff;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 100px 0 100px;
    background-color: #fff;
    border: none;
    border-radius: 100px;
    position: relative;
    top: 125px;
}

.filter {
    border: none;
    padding: 10px;
    width: 100%;
    margin-right: 10px;
    background-color: #fff;
}

.filter-button {
    border: none;
    padding: 10px;
    width: 100%;
    margin-right: 10px;
    border-radius: 100px;
    box-shadow: none;
}

.adoption-listings {
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 80px 80px 80px;
}

.flip-card {
    width: 350px;
    height: 450px;
    margin: 25px 25px 25px 25px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #fff;

}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    background-color: #fff;
    transform: rotateY(180deg);
}

.adoption-image {
    width: 250px;
    height: 250px;
    aspect-ratio: 16/9 ;
    border-radius: 50%;
    overflow: hidden;
}

.adoption-description {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
}

.pet-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 20px;
    left: 0;
    overflow: hidden;
}

.gender-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 20px;
    right: 0;
    overflow: hidden;
}

.fas {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 20px;
    left: 0;
    overflow: hidden;
    font-size: 40px;
}

.bx {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 20px;
    right: 0;
    overflow: hidden;
    color: pink;
    font-size: 50px;
}

.name {
    position: relative;
    top: 80px;
}

.description {
    margin-top: 25%;
    display: flex;
    flex-wrap: wrap;
}

.description p {
    width: 50%;
}

.traits {
    margin: 10px 0;
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
}

.traits label {
    display: block;
    margin: 5px 0;
}
